.advantages {
  padding-top: 34px;


  @media (min-width: $tablet-width) {
    padding-top: 49px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
  }
}

.advantages__introduction {
  position: relative;

  padding-right: 25px;
  padding-bottom: 16px;
  padding-left: 25px;

  background-color: $white;

  @media (min-width: $tablet-width) {
    padding-right: 124px;
    padding-bottom: 55px;
    padding-left: 124px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 44px;
  }
}

// причины 1 и 2
.advantages__figure {
  display: flex;
  flex-direction: column;

  background-color: $blue;

  &--opposite {
    padding-top: 3px;
  }

  &--decor {
    &::before {
      content: " ";

      display: block;
      width: 100%;
      height: 37px;

      background-color: $white;
      // clip-path: polygon(50% 100%, 0 0, 100% 0);
      // clip-path: polygon(49% 100%, 100% 91%, 100% 100%, 0 100%, 0 90%);
      // clip-path: polygon(49% 100%, 100% 91%, 100% 82%, 0 81%, 0 90%);

      clip-path: polygon(50% 100%, 100% 58%, 100% 0%, 0 0%, 0 59%);

      @media (min-width: $tablet-width) {
        content: none;
      }
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    max-height: 256px;

    &--opposite {
      flex-direction: row-reverse;
      padding-top: 0;
    }
  }
}

.advantages__img {
  width: 100%;

  object-fit: cover;
}

// Жилье еда сувениры
.advantages__list-features {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 24px;
  padding-right: 18px;
  padding-bottom: 45px;
  padding-left: 18px;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-right: 0;
    padding-bottom: 60px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    // padding-right: 0;
    // padding-left: 0;
    padding-top: 68px;
    padding-bottom: 68px;
  }
}

.advantages__item-features {
  padding-left: 47px;

  text-align: left;

  background-repeat: no-repeat;

  &--home {
    background-image: url("../img/svg/home-mobile.svg");
    background-position: 0 -1px;

    @media (min-width: $tablet-width) {
      padding-top: 98px;
      padding-left: 0;

      background-image: url("../img/svg/home-tablet.svg");
      background-position: center 0;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/svg/home-desktop.svg");
    }
  }

  &--food {
    margin-top: 25px;
    margin-bottom: 25px;

    background-image: url("../img/svg/food-mobile.svg");
    background-position: 0 -1px;

    @media (min-width: $tablet-width) {
      padding-top: 96px;
      padding-left: 0;

      background-image: url("../img/svg/food-tablet.svg");
      background-position: center 1px;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/svg/food-desktop.svg");
    }
  }

  &--souvenir {
    background-image: url("../img/svg/souvenir-mobile.svg");
    background-position: 0 -1px;

    @media (min-width: $tablet-width) {
      padding-top: 93px;
      padding-left: 0;

      background-image: url("../img/svg/souvenir-tablet.svg");
      background-position: center 3px;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/svg/souvenir-desktop.svg");
    }
  }

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    max-width: 256px;
    margin: 0;
    padding-right: 33px;
    padding-left: 33px;

    text-align: center;
  }

  @media (min-width: $desktop-width) {
    max-width: 400px;

    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;


    text-align: center;
  }
}

.advantages__item-features h3 {
  margin-top: 8px;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 22px;
    padding-right: 0;
    padding-left: 0;

    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}

// причины 3 4 5
.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
  // padding-bottom: 28px;

  list-style-type: none;

  background-color: $grey;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 0;
    padding-left: 0;
    padding-top: 41px;
    padding-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 52px;
    padding-bottom: 52px;
  }
}

// item для списка .advantages__list и .advantages__figure
.advantages__item {
  box-sizing: border-box;
  padding-top: 35px;
  padding-right: 15px;
  padding-bottom: 38px;
  padding-left: 15px;


  &--contrast {
    color: $white;

    border: none;

    @media (min-width: $tablet-width) {
      box-sizing: border-box;
      max-width: 256px;
      padding-top: 52px;
      padding-right: 26px;
      padding-bottom: 31px;
      padding-left: 26px;
    }

    @media (min-width: $desktop-width) {
      max-width: 400px;
      padding-right: 55px;
      padding-bottom: 51px;
      padding-left: 55px;
    }
  }

  &--grey {
    padding-top: 24px;
    padding-bottom: 24px;

    &:not(:last-child) {
      border-bottom: 1px solid $border-line;

      @media (min-width: $tablet-width) {
        border-bottom: none;
      }
    }

    @media (min-width: $tablet-width) {
      flex-grow: 1;
      box-sizing: border-box;
      max-width: 256px;
      padding: 0;
      padding-left: 33px;
      padding-right: 33px;
    }

    @media (min-width: $desktop-width) {
      max-width: 400px;
      // padding-top: 52px;
      padding-right: 50px;
      // padding-bottom: 52px;
      padding-left: 50px;
    }
  }
}

// Заголовок причин
.advantages__subtitle {
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-right: 16px;
    padding-left: 16px;

    font-size: 21px;
  }

  &--grey {
    @media (min-width: $desktop-width) {
      padding-right: 71px;
      padding-left: 70px;
    }
  }
}

// № в причинах
.advantages__number {
  display: block;
  margin: 11px 0 17px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-top: 13px;
    margin-bottom: 24px;
  }
}

// описание в причинах
.advantages__description {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
