.contacts {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.contacts__item {
  width: 48px;
  height: 48px;

  background-color: $blue;

  &:hover {
    background-color: $hover-blue;
  }

  &:active {
    background-color: $down-blue;
  }
}

.contacts__item:active .contacts__icon {
  opacity: 0.3;
}

.contacts__item:not(:last-child) {
  margin-right: 6px;
}

.contacts__link {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;

  color: $black;
  text-decoration: none;

  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.contacts__icon {
  align-self: center;
  fill: $white;

  &:active {
    background-color: $down-blue;
  }
}
