.element {
  position: relative;

  display: block;

  text-align: left;
  cursor: pointer;

  &--label {
    padding-bottom: 56px;


    @media (min-width: $tablet-width) {
      padding-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 0;

      &--second {
        padding-right: 68px;
        padding-left: 64px;
      }
    }
  }
}

.element:not(:last-child) {
  margin-bottom: 16px;
}

.form__radio .element,
.form__checkbox .element {
  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.element__user {
  display: block;
  padding-left: 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
}

.element__user-input {
  box-sizing: border-box;
  width: 100%;
  height: 58px;
  padding: 16px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Areal", sans-serif;
  text-align: left;
  color: $black;

  background-color: $peace-grey;
  background-repeat: no-repeat;
  background-position: right 0 center;
  border: none;

  &--tel {

    background-image: url("../img/svg/telephone.svg");
  }

  &--e-mail {
    background-image: url("../img/svg/e-mail.svg");
  }

  &::placeholder {
    color: $opacity-black;
  }

  &:hover {
    background-color: $hover-grey;
  }

  &:active {
    background-color: $white;
    outline: 4px solid $hover-grey;
  }

  &:focus {
    background-color: $white;
    outline: 4px solid $hover-grey;
  }
}

.element__input {
  border: none;
}

.element__input:focus-visible + .element__icon {
  outline: 4px solid $down-grey;
}


.element__input[type="radio"]:checked + .element__icon::after {
  display: block;
}

.element__input[type="checkbox"]:checked + .element__icon::after {
  display: block;
}

.element__icon--checkbox::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 12px;

  display: none;
  width: 22px;
  height: 16px;

  background-image: url("../img/svg/square.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.element__icon--radio::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 15px;

  display: none;
  width: 16px;
  height: 16px;

  background-image: url("../img/svg/circle.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.element__text {
  display: block;
  margin-left: 62px;
  padding: 10px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-right: 33px;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    max-width: 185px;
    margin-left: 61px;
    padding-right: 0;
  }
}

.element__icon {
  position: absolute;

  display: block;
  width: 46px;
  height: 46px;

  background-color: $peace-grey;

  &--radio {
    border-radius: 50%;

    &:hover {
      background-color: $hover-grey;
    }

    &:active {
      background-color: $down-grey;
    }

    &:active::after {
      opacity: 0.3;
    }
  }

  &--checkbox {
    border-radius: 4px;

    &:hover {
      background-color: $hover-grey;
    }

    &:active {
      background-color: $down-grey;
    }

    &:active::after {
      opacity: 0.3;
    }
  }
}

.element__textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-height: 150px;
  padding: 16px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Areal", sans-serif;

  background-color: $peace-grey;
  border: none;

  resize: none;

  &::placeholder {
    color: $opacity-black;
  }

  &:hover {
    background-color: $hover-grey;
  }

  &:active {
    background-color: $white;
    outline: 4px solid $hover-grey;
  }

  &:focus {
    background-color: $white;
    outline: 4px solid $hover-grey;
  }

  @media (min-width: $tablet-width) {
    max-height: 160px;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
    margin: 0 auto;
  }
}
