.element {
  position: relative;

  display: block;

  text-align: left;
  cursor: pointer;

  &--label {
    padding-bottom: 56px;


    @media (min-width: $tablet-width) {
      padding-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 0;

      &--second {
        padding-right: 68px;
        padding-left: 64px;
      }
    }
  }

  &--radio::before {
    content: "";
    width: 46px;
    height: 46px;
    position: absolute;
    border-radius: 50%;
    background-color: $peace-grey;
    left: 0;
    top: 0;
  }

  &--radio::after {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    border-radius: 50%;
    background-color: $checked-grey;
    top: 15px;
    left: 16px;
    display: none;
  }

  &--radio:hover::before {
    background-color: $hover-grey;
  }

  &--radio:active::before {
    background-color: $down-grey;
  }

  &--radio:active::after {
    opacity: 0.3;
  }

  &--checkbox::before {
    content: "";
    position: absolute;
    border-radius: 4px;
    background-color: $peace-grey;
    width: 46px;
    height: 46px;
    left: 0;
    top: 0;
  }

  &--checkbox::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 16px;
    top: 14px;
    left: 10px;
    background-image: url("../img/svg/square.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: none;
  }

  &--checkbox:hover::before {
    background-color: $hover-grey;
  }

  &--checkbox:active::before {
    background-color: $down-grey;
  }

  &--checkbox:active::after {
    opacity: 0.3;
  }
}

.element:not(:last-child) {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.element__user {
  display: block;
  padding-left: 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
}

.element__user-input {

  width: 100%;
  height: 58px;
  padding: 16px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: left;
  color: $black;

  background-color: $peace-grey;
  background-repeat: no-repeat;
  background-position: right 0 center;
  border: none;

  &--tel {

    background-image: url("../img/svg/telephone.svg");
  }

  &--e-mail {
    background-image: url("../img/svg/e-mail.svg");
  }

  &::placeholder {
    color: rgba($black, 0.3);
    opacity: 1;
  }

  &:hover {
    background-color: $hover-grey;
  }

  &:active {
    background-color: $white;
    outline: 4px solid $hover-grey;
  }

  &:focus {
    background-color: $white;
    outline: 4px solid $hover-grey;
  }
}

.form__input {
  border: none;
}

.element__text {
  display: block;
  margin-left: 62px;
  padding: 10px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-right: 33px;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    max-width: 185px;
    margin-left: 61px;
    padding-right: 0;
  }
}

.element__textarea {
  display: block;

  width: 100%;
  max-height: 150px;
  padding: 16px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;

  background-color: $peace-grey;
  border: none;

  resize: none;

  &::placeholder {
    color: rgba($black, 0.3);
    opacity: 1;
  }

  &:hover {
    background-color: $hover-grey;
  }

  &:active {
    background-color: $white;
    outline: 4px solid $hover-grey;
  }

  &:focus {
    background-color: $white;
    outline: 4px solid $hover-grey;
  }

  @media (min-width: $tablet-width) {
    max-height: 160px;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
    margin: 0 auto;
  }
}
