.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 235px;
  margin: 0 auto;
  padding: 33px 0 33px;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    min-height: 120px;
    margin: 0;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    min-height: 120px;
    margin: 0;
    padding: 0 120px;
  }
}
