.main-footer {
  padding: 33px 0 40px;

  text-transform: uppercase;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 235px;

  @media (min-width: $tablet-width) {
    min-height: 120px;
    flex-direction: row;
    padding: 0 60px;
    justify-content: space-between;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 120px;
    flex-direction: row;
    padding: 0 120px;
    justify-content: space-between;
    margin: 0;
  }
}
