.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 64px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.form__fieldset {
  display: block;
  margin: 0;
  margin-top: 24px;
  padding: 0;

  border: none;

  &--user {
    padding-bottom: 39px;

    @media (min-width: $tablet-width) {
      align-self: flex-start;
      box-sizing: border-box;
      width: 50%;
      margin: 0;
      margin-bottom: 63px;
      padding: 8px 28px 8px 0;

      border-right: 1px solid $line-grey;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 71px;
      padding-right: 49px;
    }
  }

  &--info {
    padding-bottom: 34px;

    @media (min-width: $tablet-width) {
      align-self: flex-start;
      box-sizing: border-box;
      width: 50%;
      margin: 0 0 0 -1px;
      margin-bottom: 63px;
      padding: 8px 0 8px 28px;

      border-left: 1px solid $line-grey;
    }

    @media (min-width: $desktop-width) {
      padding-left: 49px;
    }
  }

  &--impression {
    padding-bottom: 24px;

    @media (min-width: $tablet-width) {
      width: 100%;
      margin: 0;
      margin-bottom: 48px;
      padding: 0;

      border-top: 1px solid $line-grey;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 56px;
    }
  }

  &--attraction {
    padding-bottom: 24px;

    @media (min-width: $tablet-width) {
      width: 100%;
      margin: 0;
      margin-bottom: 42px;
      padding: 0;

      border-top: 1px solid $line-grey;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 56px;
    }
  }


  &--emotion {
    padding: 0;

    @media (min-width: $tablet-width) {
      width: 100%;
      margin: 0;
      padding: 0;

      border-top: 1px solid $line-grey;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 48px;
      padding: 0;
    }
  }
}

.form__legend {
  margin-bottom: 20px;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  &--present {
    @media (min-width: $tablet-width) {
      float: left;
      width: 100%;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
  }
}

.form__inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__contact {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.elements:not(:last-child) {
  margin-bottom: 16px;
}

.form__radio {
  @media (min-width: $tablet-width) {
    display: grid;
    max-width: 576px;
    margin: 0 auto;

    gap: 16px;
    grid-template-columns: repeat(2, 280px);
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    max-width: 100%;

    gap: 28px;
  }
}

.form__checkbox {
  @media (min-width: $tablet-width) {
    display: grid;
    max-width: 480px;
    margin: 0 auto;

    column-gap: 32px;

    grid-template-columns: repeat(2, 224px);
    row-gap: 16px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    max-width: 100%;

    column-gap: 44px;
  }
}

.user__element {
  display: block;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
}

.user__input {
  box-sizing: border-box;
  width: 100%;
  height: 58px;
  padding: 16px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Areal", sans-serif;
  text-align: left;
  color: $black;

  background-color: $peace-grey;
  border: none;

  &::placeholder {
    color: $placeholder-grey;
  }
}

.elements {
  position: relative;

  display: block;

  text-align: left;

  &--label {
    padding-bottom: 56px;

    @media (min-width: $desktop-width) {
      padding-bottom: 0;
    }
  }
}

.element__text {
  display: block;
  margin-left: 62px;
  padding: 10px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-right: 33px;
    padding-bottom: 10px;
  }
}

.element__icon {
  position: absolute;

  display: block;
  width: 46px;
  height: 46px;

  background-color: $peace-grey;

  &--radio {
    border-radius: 50%;
  }

  &--checkbox {
    border-radius: 4px;
  }
}

.element__textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-height: 150px;
  padding: 16px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Areal", sans-serif;

  background-color: $peace-grey;
  border: none;

  resize: none;

  &::placeholder {
    color: $placeholder-grey;
  }

  @media (min-width: $tablet-width) {
    max-height: 160px;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
    margin: 0 auto;
  }
}

.form__submit {
  align-self: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-right: 96px;
    padding-left: 96px;
  }
}

.form__button {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 16px 30px;

  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", "Areal", sans-serif;
  color: $white;
  text-transform: uppercase;

  background-color: $blue;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    align-self: flex-start;
    max-width: 324px;
    margin: 0;
    padding: 16px 71px;
  }
}


.form__hint {
  display: block;
  box-sizing: border-box;
  margin-top: 3px;
  margin-right: auto;
  margin-bottom: 22px;

  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: $require-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    align-self: center;
    margin: 0;

    font-size: 14px;
  }
}
