.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-bottom: 64px;
  }
}

.form__fieldset:not(:nth-child(5)) {
  border-bottom: 1px solid $hover-grey;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.form__fieldset {
  display: block;
  margin: 0;
  margin-top: 24px;
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;

  border: none;

  &--user {
    margin-top: 23px;
    padding-bottom: 39px;

    @media (min-width: $tablet-width) {
      align-self: flex-start;
      box-sizing: border-box;
      width: 50%;
      margin: 0;
      margin-bottom: 55px;
      padding: 8px 28px 8px 0;

      border-right: 1px solid $line-grey;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 63px;
      padding-right: 49px;
    }
  }

  &--info {
    padding-bottom: 34px;

    @media (min-width: $tablet-width) {
      align-self: flex-start;
      box-sizing: border-box;
      width: 50%;
      margin: 0 0 0 -1px;
      padding: 8px 0 8px 28px;

      border-left: 1px solid $line-grey;
    }

    @media (min-width: $desktop-width) {
      padding-left: 49px;
    }
  }

  &--impression {
    padding-bottom: 24px;

    @media (min-width: $tablet-width) {
      width: 100%;
      margin: 0;
      margin-bottom: 48px;
      padding: 0;

      border-top: 1px solid $line-grey;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 73px;
    }
  }

  &--attraction {
    padding-bottom: 24px;

    @media (min-width: $tablet-width) {
      width: 100%;
      margin: 0;
      margin-bottom: 42px;
      padding: 0;

      border-top: 1px solid $line-grey;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 87px;
    }
  }

  &--emotion {
    @media (min-width: $tablet-width) {
      width: 100%;
      margin: 0;
      padding: 0;
      padding-bottom: 48px;

      border-top: 1px solid $line-grey;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 48px;
      padding: 0;
    }
  }
}

.form__legend {
  margin: 0 auto 20px auto;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;

    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
  }

  &--present {
    @media (min-width: $tablet-width) {
      float: left;
      width: 100%;
    }
  }

  &--impression {
    @media (min-width: $tablet-width) {
      padding-right: 70px;
      padding-left: 70px;
      margin: 0 auto 28px auto;
    }

    @media (min-width: $desktop-width) {
      margin: 0 auto 45px auto;
    }
  }

  &--attraction {
    @media (min-width: $tablet-width) {
      padding-right: 60px;
      padding-left: 60px;
      margin: 0 auto 28px auto;
    }

    @media (min-width: $desktop-width) {
      margin: 0 auto 60px auto;
    }
  }

  &--emotion {
    @media (min-width: $tablet-width) {
      padding-right: 75px;
      padding-left: 75px;
      margin: 0 auto 28px auto;
    }
  }
}

.form__inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__contact {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__radio {
  @media (min-width: $tablet-width) {
    display: grid;
    max-width: 576px;
    margin: 0 auto;

    gap: 16px;
    grid-template-columns: repeat(2, 280px);
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;

    column-gap: 64px;

    row-gap: 0;
  }
}

.form__checkbox {
  @media (min-width: $tablet-width) {
    display: grid;
    max-width: 480px;
    margin: 0 auto;

    column-gap: 32px;

    grid-template-columns: repeat(2, 224px);
    row-gap: 16px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    max-width: 100%;

    column-gap: 64px;
  }
}

.form__submit {
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-right: 96px;
    padding-left: 96px;
  }
}

.form__button {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 16px 30px;

  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", "Areal", sans-serif;
  color: $white;
  text-transform: uppercase;

  background-color: $blue;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    align-self: flex-start;
    max-width: 324px;
    margin: 0;
    padding: 16px 70px;
  }

  @media (min-width: $desktop-width) {
    max-width: 384px;
  }
}

.form__button:hover {
  background-color: $hover-blue;
}

.form__button:active {
  color: rgba($white, 0.3);

  background-color: $down-blue;
}

.form__button:disabled {
  color: rgba($white, 0.1);

  background-color: $hover-grey;
}

.form__hint {
  display: block;
  box-sizing: border-box;
  margin-top: 2px;
  margin-right: auto;

  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-align: right;
  color: $require-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    align-self: center;
    margin: 0;
    padding-top: 8px;

    font-size: 14px;
  }
}
