.main-header {
  display: block;
  min-height: 56px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0;
  }
}

.no-js {
  position: static;

  & .toggle {
    display: none;
  }

  & .navigation__list {
    display: block;

    @media (min-width: $tablet-width) {
      display: grid;

      font-size: 14px;
      line-height: 21px;

      box-shadow: none;

      grid-template-columns: repeat(5, 1fr);
    }
  }
}

.is-open {
  & .navigation__list {
    position: absolute;
    z-index: 5;

    display: block;
    width: 100%;

    @media (min-width: $tablet-width) {
      position: relative;

      display: grid;
    }
  }
}
