.interesting {
  padding-top: 43px;
  padding-right: 18px;
  padding-bottom: 49px;
  padding-left: 18px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-right: 155px;
    padding-bottom: 55px;
    padding-left: 155px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 66px;
  }
}

.interesting__introduction {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
  }
}

.interesting__button {
  display: block;
  margin: 0 auto;
  padding: 16px 47px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", "Areal", sans-serif;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $blue;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    max-width: 458px;
  }
}

.interesting__button:hover {
  background-color: $hover-blue;
}

.interesting__button:active {
  color: rgba($white, 0.3);
  background-color: $down-blue;
}

.navigation__item:disabled {
  background-color: $hover-grey;
  color: rgba($white, 0.1);
}
