.multimedia {
  @media (min-width: $tablet-width) {
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 61px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 0;
    padding-top: 112px;
    padding-bottom: 0;
  }
}

.multimedia__introduction {
  padding: 31px 20px 43px 20px;

  border-bottom: 1px solid $hover-grey;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 86px;

    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 75px;
  }
}
