.navigation {
  position: relative;
}

.navigation__list {
  position: relative;

  display: block;
  margin: 0;
  padding: 0;

  list-style-type: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  &--open {
    position: absolute;

    display: block;
    width: 100%;
    z-index: 5;
  }

  &--close {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: grid;

    box-shadow: none;

    grid-template-columns: repeat(5, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.navigation__item:last-child {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 87%, rgba(0, 0, 0, 0.2) 100%);

  @media (min-width: $tablet-width) {
    background: $white;
  }
}

.navigation__item {
  padding: 17px 0 12px;

  background-color: $blue;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  @media (min-width: $tablet-width) {
    padding: 10px 5px;

    background-color: $white;
    box-shadow: none;

    &:nth-child(3) {
      grid-column-start: 4;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 240px;
    padding: 10px 25px;
  }
}

.navigation__link {
  display: block;
  margin: 0;
  padding: 5px;

  color: $white;
  text-decoration: none;

  cursor: pointer;


  @media (min-width: $tablet-width) {
    color: $black;
  }
}
