.toggle {
  margin: 0 auto;

  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  color: $white;
  text-transform: uppercase;

  background-color: $blue;
  border: none;
  cursor: pointer;
}
