.toggle {
  position: absolute;
  right: 25px;

  display: block;
  width: 23px;
  height: 22px;
  margin: 0 auto;
  margin-top: 17px;
  margin-bottom: 17px;

  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 6;

  &:hover .toggle__svg {
    fill: $hover-blue;
  }

  &:active .toggle__svg {
    opacity: 0.6;
  }

  &:hover .toggle__svg-close {
    fill: rgba($white, 0.6);
  }

  &:active .toggle__svg-close {
    fill: rgba($white, 0.3);
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.toggle__svg {
  fill: $blue;
}

.toggle__svg-close {
  fill: $white;
}
