.visit-sedona {
  display: block;
  margin: 0;
  margin-bottom: 29px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
