*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background-color: $html-grey;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  font-style: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  color: $black;

  background-color: $white;
  box-shadow: 0 5px 15px rgba($body-shadow, 0.2);
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}
