.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

html {
  height: 100%;

  background-color: $html-grey;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  font-style: normal;
  font-family: "PT Sans", "Areal", sans-serif;
  text-align: center;
  color: $black;

  background-color: $white;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main-content {
  flex-grow: 1;

  &--index {
    padding: 0;
  }
}
