.introduction__title {
  max-width: 440px;
  margin: 0 auto;
  margin-bottom: 35px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 29px;
  }

  &--big-title {
    font-size: 21px;
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      margin-bottom: 34px;
    }
  }

  &--catalog {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      margin-bottom: 32px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 32px;
    }
  }

  &--form {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      margin-bottom: 22px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 32px;
    }
  }
}

.introduction__text {
  max-width: 446px;
  margin: 0 auto;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  &--long {
    @media (min-width: $tablet-width) {
      max-width: 485px;
    }
  }

  &--small {
    @media (min-width: $tablet-width) {
      max-width: 435px;
    }
  }
}
