.welcome {
  position: relative;

  padding-top: 90px;

  background-color: $blue;
  background-image: url("../img/jpg/background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/jpg/background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    padding-top: 77px;

    background-image: url("../img/jpg/background-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/jpg/background-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 78px;

    background-image: url("../img/jpg/background-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/jpg/background-desktop@2x.jpg");
    }
  }

  &--inner {
    padding-top: 52px;

    @media (min-width: $tablet-width) {
      padding-top: 95px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 101px;
    }
  }

  &::after {
    content: " ";
    position: initial;

    display: block;
    width: 100%;
    height: 57px;

    background-color: transparent;
    background-image: url("../img/svg/decor_element.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.welcome__img {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    width: 461px;
    height: 350px;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    width: 459px;
    margin-bottom: 33px;
  }

  &--inner {
    margin-bottom: 10px;

    @media (min-width: $tablet-width) {
      width: 457px;
      height: 78px;
      margin-bottom: 60px;
    }

    @media (min-width: $desktop-width) {
      width: 459px;
      height: 79px;
      margin-bottom: 63px;
    }
  }
}
